
#home_nner{
    position:absolute;
    left: 50%;
    top:50%;

    @media (orientation: landscape) {    
        margin: -80px 0 0 -240px;
    }
    @media (orientation: portrait) {    
        margin: -240px 0 0 -80px;
        width: 160px;
    }
    
}   

#home_nner div{
    height: 120px;
    width: 120px;
    margin: 20px;
    display: inline-block;
}